h2{
    display: flex;
    justify-content: center;
    color:floralwhite;
}
button{
    display: flex;
    align-content: center;
    margin-top: 25px;
    flex-direction: column;
    width: 100%;
    background-color: rgb(53, 52, 52);
    border-radius: 10px;
}